@use '@/app/base';

.team {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 4rem;
}

.member {
	grid-column: span 4;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.image {
	position: relative;
	width: 100%;
	aspect-ratio: 16 / 12;

	img {
		object-fit: cover;
	}
}

.title {
	margin-bottom: 0.5rem;
	color: rgba($color: base.$blue, $alpha: 0.5);
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
	.member {
		grid-column: span 12;
		max-width: 80vw;
	}
}
